node_modules
package-lock.json
.DS_Store
.idea/
config/dev.js

MasterCombinedLog.log
error.log

.idea/workspace.xml

# security
/config
/publicBuild/

/client/src/consts/

./firebase

firestore.rules
