.wrapper {
  background-color: #1A1C1E;
  background-image:  url("https://cdn.discordapp.com/attachments/370759274621698048/755271239748157540/unknown.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;


  height: 100%;
  display: relative;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  overflow-x: hidden;
  /* padding-bottom: 50px; */
}

.backgroundPattern{
  position: absolute;
  background: url("https://ak1.picdn.net/shutterstock/videos/27265981/thumb/1.jpg") left bottom no-repeat;
  /* background-position: 0px 0px; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-repeat: repeat-y; */
  height: 100vh;
  width: 100vw;
  overflow: auto;
  overflow-x: hidden;
  background-position: 75% 75%;
  opacity: 0.5;
  align-items: flex-end;
  
;
}