.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2D2F33;
  opacity: 0.75;
  height: 56px;
  z-index: 1;
  font-weight: 420;
  border-bottom: 1px solid #E2D83B;
}

.toolbar_navigation {
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar-menu {
  position: fixed;
  right: 0%;
  margin-right: 2%;
  top: -1%;
}

.horizontal-list {
  list-style: none;
  padding-top: 10px;
}

.horizontal-list li {
  display: inline-block;
}

.navbar-menu li a {
  color: #ebeced;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 1px 0;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 9px 12px 2px 0px;
}

.navbar-menu li a:hover {
  color: #ebeced;
  text-decoration: underline;
  text-shadow: 1px 1px 1px #add8e6;
}