.page {
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 55px;
}

.header,
.footer {
  color: #add8e6;
  text-shadow: 2px 2px 2px #0277bd;
  text-align: center;
}

.imgSize {
  position: relative;
  right: 110px;
  width: 300px;
  padding: 12px;
}

.opacity {
  opacity: .2;
}

.footer {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 15px;
  margin: auto;
  z-index: 1;
}
