.dashboardMain{
    margin-top:20px;
    /* background-color: red; */
    z-index: 10;
    
    
}
@media only screen and (max-width: 400px) {
    .dashboardMain{
        max-width: 256px;
    }
}

.red{
    background-color: red;
    width: 100%;
    height:320px;
}