.side-drawer {
  height: 100%;
  background-color: #2D2F33;
  position: fixed;
  top: 55px;
  left: 0;
  width: 250px;
  max-width: 400px;
  z-index: 200;
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
  border-top: solid 1px #e2d73bb7;
}

.side-drawer.open {
  transform: translateX(0);
  box-shadow: 8px 8px 20px #3e3e3b;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #E2D83B;
  text-decoration: underline;
}

h5 {
  color: white;
}
